{% extends "index.html" %}

{% load static %}

{% block bodystyle %}
    <style>
        body{
            display:flex;
            justify-content: center;
            align-items: center;
            height:98vh;
            flex-direction: column;
            background-image: linear-gradient(rgb(0, 0, 0),rgb(41, 41, 41)) ;
        }

    </style>
{% endblock bodystyle %}

<body>
    {% block content %}
        <div class='followerbox'>
        </div>
        <div class='signupbox'>
    
            <div class='signupform'>
                <form class='signupform1' method="post">
                        {% csrf_token %}
                        <div class="login-field">
                            
                            <div class='field'>
                               
                                <input type="text" placeholder="username" name="forgot" class="inputclass">

                            </div>
                    
                        </div>
    
                </form>
            </div>
        </div>
    
       
    
    {% endblock %}
    </body>
