{% extends "index.html" %}
{% load static %}
{% block bodystyle %}
    <style>
        body{
            display:flex;
            justify-content: center;
            align-items: center;
            height:100vh;
            flex-direction: column;
            background-image: linear-gradient(rgb(0, 0, 0),rgb(41, 41, 41)) ;
            margin:0px;
            padding:0px;
        }

    </style>
{% endblock bodystyle %}

<body>
    
    {% block content %}
   
        <div class='followerbox'>
        </div>
        <div class='signupbox'>
    
            <div class='signupform'>
                <form class='signupform1' method="post">
                        {% csrf_token %}
                        <div class="login-field">
                            
                            <div class='field'>
                                {% comment %} {{ form.username.label_tag }} {% endcomment %}
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                    
                    
                            <div class='field'>
                                {% comment %} {{ form.password.label_tag }} {% endcomment %}
                                {{ form.password }}

                                <label for="eyeInput">
                                    <img class='eye' src="{% static 'eye-closed.svg' %}">
                                </label>
    
                                <input id="eyeInput" class='eyecheck' type="checkbox">
                                {{ form.password.errors }}
    
                            </div>
                            
                            <div class='enquiry'>
                                <h><a href='/forgot'>forgot password? </a></h>
                            </div>

                            <div class='enquiry'>
                                <h>Don't have an account?  <a href='/signup'>make an account</a></h>
                            </div>
    
                            <button type='submit' class='credbutton'>login</button>
                        </div>
    
                </form>
            </div>
        </div>
<script>
    eyelabel=document.querySelector('.eye');
    eye=document.querySelector('.eyecheck');
    passarea=document.getElementById('id_password');
    
    eye.addEventListener('click',function(){
        if(this.checked){
            eyelabel.src=`{% static "eye-open.svg" %}`;
            passarea.type='text';

        }

        else{
            eyelabel.src=`{% static "eye-closed.svg" %}`;
            passarea.type='password';
        }

    })
</script>
</body>
{% endblock content %}
