{% extends "index.html" %}

{% load static %}

{% block bodystyle %}
    <style>
        body{
            display:flex;
            justify-content: center;
            align-items: center;
            height:98vh;
            flex-direction: column;
            background-image: linear-gradient(rgb(0, 0, 0),rgb(41, 41, 41)) ;
        }

    </style>
{% endblock bodystyle %}

<body>
    {% block content %}
        <div class='followerbox'>
        </div>
        <div class='signupbox'>
    
            <div class='signupform'>
               
                <form class='signupform1' method="post">
                        {% csrf_token %}
                        <div class="login-field">
                            
                            <!-- <div class='enquiry'>
                                <h>Please check your email for the verification OTP.</h>
                                <h>check your spam folder just in case if you can't find it</h>
                            </div> -->

                            
                            <div class='field'>
                                <input type="text" placeholder="OTP" name="otp" class="inputclass" id="otp">
                            </div>
                    
                        </div>
    
                </form>
                <!-- <h style="text-align: center;">Please check your email for the verification OTP.</h> -->
                <!-- <h style="text-align: center;">check your spam folder just in case if you can't find it</h> -->
            </div>
            
        </div>
    
       
    
    {% endblock %}
    </body>
